body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

section {
  background-color: white;
}

.statement {
  background-color: #1c1d25;
  height: 100vh;
  color: white;
  font-size: 40px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}


li {
  text-decoration: none;
}

h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.subtext {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  font-display: wrap;
  font-size: 15px;
  font-weight: 300;
}

.statement-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.statement-text {
  margin-left: 80px;
  margin-bottom: 200px;
}

.button {
  width: 165px;
  height: 47px;
  border-radius: 30px;
  background-color: coral;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin-top: 20px;
  justify-content: center;
}

.button:hover {
  background-color: #ef744b;
}

.button:active {
  background-color: #a9a9a9;
  color: #808080;
}

.socials {
  padding-bottom: 200px;
}

.logo {
  height: 80px;
  margin: 30px;
}
.social {
  margin: 20px;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.sub-section-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}

.headshot {
  width: 300px;
  border-radius: 300px;
  margin-left: 80px;
  height: 300px;
  object-fit: cover;
  object-position: 0px 22%;
}

.headshot-container {
  display: flex;
  align-items: center;
}

.scroll{
width:50px;
}

.project-card {
  width: 400px;
  height: 600px;
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
  margin: 15px;
  overflow: hidden;
  padding: 5px;
}

.proj-links {
  color: blue;
  text-decoration: none;
}

.proj-links:hover{
  color: rgba(0, 0, 156, 0.678);
}

.project-container {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}


.project-image {
  width: 400px; 
  cursor: pointer;
  transition: .3s;
}

/* .project-image:hover {opacity: .7;} */





* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  text-align: initial;
}

.mySlides1 {
  display: none;
}

.mySlides1:hover .content {
  opacity: 1;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
right:0;
border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  background-color: rgba(0,0,0,0.2);
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.image-view {
  position: fixed;
  top:0;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  width: 100%;
  display: none;
}

.image-box {
  width: 70vw;
  height: 80vh;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  /* background: tomato; */
  display: none;
}

#prev-btn, #next-btn {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all .5s ease;
  cursor: pointer;
}

#prev-btn {
  border-right:40px solid grey;
  left: -50px;
}

#next-btn {
  border-left: 40px solid grey;
  right: -50px;
}

#next-btn:hover, #prev-btn:hover {
  opacity: .6;
}


hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
  color: #ef744b;
}

a {
  text-decoration: none;
  color: white;
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline: 0;
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }

  ul {
    display: none;
    background-color: #2b2c38;
    margin: 0ppx;
  }

  ul.show {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: #2b2c38;
  }

  .logo {
    display: none;
  }
  
  .image-box {
    height: 55vh;
  }
}
